body { 
    font-family: sans
}
a:link { 
    text-decoration: none;
    color:           blue;
}
a:hover {
    text-decoration: none;
    color:           magenta;
}
a:visited {
    text-decoration: none;
    color:           blue;
}
h1 { border: thin solid gray; 
     width: 100%; 
     background-color: lightblue;
   }
tr:nth-child(odd) { 
    background-color: lightcyan; 
}
tr:nth-child(even) { 
    background-color: white; 
}
tr:nth-child(1) { 
    background-color: lightblue; 
    border-top: thin solid lightgray; 
}
table:first-child { 
    border-top: thin solid gray;
    border-bottom: thin solid gray; 
}
table:last-child { 
    border-bottom: thin solid lightgray; 
}
tr.entry td { 
    border-top: thin solid gray; 
}
table 
{
    border-collapse: collapse;
    border: thin solid gray;
    margin-bottom: 3ex; 
}
td.uuid { 
    font-size: small; 
    font-family: fixed;
}
td.md5 { 
    font-size: small; 
    font-family: fixed;
}    
td.url {
    font-size: small; 
    font-family: fixed;
}
td.class {
    /* font-size: small; */
    font-family: fixed;
}
td.name {
    /* font-size: small; */
    font-family: italic; 
}
td.siz {
    font-size: small; 
    text-align: right;
}
td.num {
    font-size: small;
    text-align: right;
    }
td { 
    vertical-align: top; 
    padding-left: 1em; 
    padding-right: 1em;
   }
div.change { border: thin solid gray; 
	     text-size: smaller; 
	     font-style: italic;
	     background-color: lightblue;
	     bottom: 100%;
	   }
div.back { font-size: small; 
	   background-color: lightcyan;
	   border: solid thin lightgray;
	   position: fixed;
	   z-index: 3;
	   opacity: .8;
	   top: 3em; 
	   right: 10px; 
	   font-size: small; 
	   width: 80px; }
div.format { font-size: small;
	     margin-left: 2em; }
/*
 * EOF
 */
